

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.content{
  display: none;
}
.container{
  padding-top: 10%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.bloc-tabs {
  flex-direction: row;
  align-items: center;
}

#button1{
  border: none;
  color: white;
  background-color: rgb(94, 45, 94);
}
#button2{
  border: none;
  color: black;
  background-color: rgb(184, 181, 181);
}

.active-content {
  display: block;
}
